<page [title]="'application-details'">
  <nz-card nzTitle="{{ title }} Detail">
    <nz-tabset>
      <nz-tab nzTitle="Information" *ngIf="!loading">
        <div nz-row [nzGutter]="16">
          <div nz-col class="gutter-row" [nzSpan]="6">
            <div class="inner-box">Scale: {{application_detail?.scale}} people</div>
          </div>
          <div nz-col class="gutter-row" [nzSpan]="6">
            <div class="inner-box">From: {{application_detail?.start_date}}</div>
          </div>
          <div nz-col class="gutter-row" [nzSpan]="6">
            <div class="inner-box">To: {{application_detail?.end_date}}</div>
          </div>
          <div nz-col class="gutter-row" [nzSpan]="6">
            <div class="inner-box">Created By: {{ application_detail?.created_by }}</div>
          </div>
        </div>
        <form nz-form>
          <fieldset>
            <legend>Description</legend>
            {{ application_detail?.description }}
          </fieldset>
          <div class="status-center">
            <div [style.color]="color"><b>Status: {{application_detail?.status}}</b></div>
          </div>
          <div class="center" *ngIf="application_detail?.approved_by">
            Approver: {{application_detail?.approved_by}}
          </div>
        </form>

      </nz-tab>
      <nz-tab nzTitle="Member Role" *ngIf="!loading">
        <nz-table nzShowPagination nzBordered [nzData]="member_roles" [nzLoading]="loading" [nzTotal]="totalMember"
          [nzPageSize]="10" [nzPageIndex]="1" (nzCurrentPageDataChange)="onCurrentPageMembersChange($event)">
          <thead>
            <tr>
              <th nzWidth="70%" class="center" nzColumnKey="fullname">Fullname</th>
              <th nzWidth="30%" class="center" nzColumnKey="roleName">Role</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of listCurrentMembers">
              <td class="center">{{ data.name }}</td>
              <td class="center">{{ data.event_role_name }}</td>
            </tr>
          </tbody>
        </nz-table>
      </nz-tab>
      <nz-tab nzTitle="Stage" *ngIf="!loading">
        <nz-table nzShowPagination nzBordered [nzData]="stages" [nzLoading]="loading" [nzTotal]="totalStage"
          [nzPageSize]="10" [nzPageIndex]="1" (nzCurrentPageDataChange)="onCurrentPageStagesChange($event)">
          <thead>
            <tr>
              <th nzWidth="20%" class="center" nzColumnKey="name">Name</th>
              <th nzWidth="30%" class="center" nzColumnKey="location">Location</th>
              <th nzWidth="30%" class="center" nzColumnKey="description">Description</th>
              <th nzWidth="10%" class="center" nzColumnKey="start_date">Start Date</th>
              <th nzWidth="10%" class="center" nzColumnKey="end_date">End Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of listCurrentStages">
              <td class="center">{{ data.name }}</td>
              <td class="center">{{ data.location }}</td>
              <td class="center">{{ data.description }}</td>
              <td class="center">{{ data.start_date }}</td>
              <td class="center">{{ data.end_date }}</td>
            </tr>
          </tbody>
        </nz-table>
      </nz-tab>
      <nz-tab nzTitle="Content" *ngIf="!loading">
        <nz-collapse>
          <nz-collapse-panel *ngFor="let stage of stages" [nzHeader]="stage.name">
            <nz-table nzShowPagination nzBordered [nzData]="stage.contents" [nzLoading]="loading" [nzPageSize]="10"
              [nzTotal]="stage.contents.length" [nzPageIndex]="1"
              (nzCurrentPageDataChange)="onCurrentPageContentsChange(stage.id, $event)">
              <thead>
                <tr>
                  <th nzWidth="20%" class="center" nzColumnKey="name">Content Name</th>
                  <th nzWidth="30%" class="center" nzColumnKey="leader">Leader</th>
                  <th nzWidth="30%" class="center" nzColumnKey="description">Description</th>
                  <th nzWidth="10%" class="center" nzColumnKey="start_date">Start Date</th>
                  <th nzWidth="10%" class="center" nzColumnKey="end_date">End Date</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of stageContent[stage.id]">
                  <td class="center">{{ data.name }}</td>
                  <td class="center">{{ data.leader_name }}</td>
                  <td class="center">{{ data.description }}</td>
                  <td class="center">{{ data.start_date }}</td>
                  <td class="center">{{ data.end_date }}</td>
                </tr>
              </tbody>
            </nz-table>
          </nz-collapse-panel>
        </nz-collapse>
        <div class="center" *ngIf="stages.length == 0">No data</div>
      </nz-tab>
      <nz-tab nzTitle="Budget" *ngIf="!loading">
        <nz-table nzShowPagination nzWidth="60%" nzBordered [nzData]="budgets" [nzLoading]="loading"
          [nzTotal]="totalBudget" [nzPageSize]="10" [nzPageIndex]="1"
          (nzCurrentPageDataChange)="onCurrentPageBudgetsChange($event)">
          <thead>
            <tr>
              <th nzWidth="60%" class="center" nzColumnKey="description">Description</th>
              <th nzWidth="20%" class="center" nzColumnKey="totalPrice">Total Price</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of listCurrentBudgets">
              <td class="center">{{ data.description }}</td>
              <td class="center">{{ data.total_price }}</td>
            </tr>
          </tbody>
        </nz-table>
        <div class="wrapper" *ngIf="has_budget">
          <div class="total">Total Price</div>
          <div class="value">{{ sumBudgets }} VND</div>
        </div>
      </nz-tab>
    </nz-tabset>
    <div class="bottom-center" *ngIf="display===true">
      <button nz-button class="approve-button" nzSize="large" (click)="setApprovalStatus()"
        nzType="primary">Approve</button>
      <button nz-button class="reject-button" nzSize="large" (click)="setRejectStatus()"
        nzType="primary">Reject</button>
    </div>
  </nz-card>
</page>