.center {
    text-align: center;
    padding-top: 25px;
}

.status-center {
  text-align: center;
  padding-top: 25px;
  font-size: 20px;
}

a {
  text-decoration: none;
}
.reject-button {
    font-size: 18px;
    height: 45px;
    line-height: 33px;
    padding: 0 15px;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
    border: 2px solid;
    border-radius: 7px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
    background: #d02e17;
    border-color: #942110 #902010 #741a0d;
    background-image: -webkit-linear-gradient(top, #e74a29 0%, #e6451b 50%, #d02e17 50%, #b3150b 100%);
    background-image: -moz-linear-gradient(top, #e74a29 0%, #e6451b 50%, #d02e17 50%, #b3150b 100%);
    background-image: -o-linear-gradient(top, #e74a29 0%, #e6451b 50%, #d02e17 50%, #b3150b 100%);
    background-image: linear-gradient(to bottom, #e74a29 0%, #e6451b 50%, #d02e17 50%, #b3150b 100%);
  }
  
  .reject-button:active {
    background: #e63b1b;
    background-image: -webkit-linear-gradient(top, #a9110b 0%, #de3819 60%, #e63b1b 100%);
    background-image: -moz-linear-gradient(top, #a9110b 0%, #de3819 60%, #e63b1b 100%);
    background-image: -o-linear-gradient(top, #a9110b 0%, #de3819 60%, #e63b1b 100%);
    background-image: linear-gradient(to bottom, #a9110b 0%, #de3819 60%, #e63b1b 100%);
  }

  .approve-button {
    font-size: 18px;
    height: 45px;
    line-height: 33px;
    padding: 0 15px;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
    border: 2px solid;
    border-radius: 7px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
    background: #2eabb3;
    border-color: #20797e #1f757a #195d62;
    background-image: -webkit-linear-gradient(top, #3dbdcd 0%, #33b2c7 50%, #2eabb3 50%, #1e9a99 100%);
    background-image: -moz-linear-gradient(top, #3dbdcd 0%, #33b2c7 50%, #2eabb3 50%, #1e9a99 100%);
    background-image: -o-linear-gradient(top, #3dbdcd 0%, #33b2c7 50%, #2eabb3 50%, #1e9a99 100%);
    background-image: linear-gradient(to bottom, #3dbdcd 0%, #33b2c7 50%, #2eabb3 50%, #1e9a99 100%);
  }
  

  .approve-button:active {
    background: #33b9c7;
    background-image: -webkit-linear-gradient(top, #1d918f 0%, #31b2bf 60%, #33b9c7 100%);
    background-image: -moz-linear-gradient(top, #1d918f 0%, #31b2bf 60%, #33b9c7 100%);
    background-image: -o-linear-gradient(top, #1d918f 0%, #31b2bf 60%, #33b9c7 100%);
    background-image: linear-gradient(to bottom, #1d918f 0%, #31b2bf 60%, #33b9c7 100%);
  }

  .bottom-center {
    display: flex;
    margin: 0 auto;
    padding-top: 30px;
    width: 20%;
    justify-content: space-between;
  }

  // [nz-row] {
  //   background-color: rgba(128, 128, 128, 0.08);
  // }

  .inner-box {
    background: #0092ff;
    text-align: center;
    color: white;
    font-size: 17px;
    padding: 8px 0;
  }

  fieldset {
    width: 80%;
    font-size: 17px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
  }

  fieldset legend{
    font-size: 21px;
  }

  .total {
    font-size: 20px;
    text-align: center;
    color: red;
    font-weight: bold;
  }
  
  .wrapper{
    width:20%;
    display: block;
    margin: 0 auto;
    padding-top: 25px;
  }
  .value {
    font-size: 20px;
    text-align: center;
    color: red;
    font-weight: bold;
  }