<span [ngClass]="innerClass" (click)="isCollapsed = !isCollapsed">
  <ng-content></ng-content>
</span>

<nz-drawer [nzWidth]="300" [nzVisible]="!isCollapsed" (nzOnClose)="isCollapsed = !isCollapsed">
  <div style="margin-bottom:24px;">
    <h3 class="title">Theme</h3>
    <div class="blockChecbox">
      <div *ngFor="let theme of themes" class="item" nz-tooltip [nzTitle]="theme.title"
        (click)="setting.theme = theme.key">
        <img [src]="theme.image" [alt]="theme.title">
        <div class="selectIcon" *ngIf="theme.key == setting.theme">
          <i class="anticon anticon-check"></i>
        </div>
      </div>
    </div>
  </div>
  <nz-divider></nz-divider>
  <div style="margin-bottom:24px;">
    <h3 class="title">Other Settings</h3>
    <nz-list [nzSplit]="false" [nzDataSource]="others" [nzRenderItem]="otherItem">
      <ng-template #otherItem let-item>
        <nz-list-item [nzContent]="item.title" [nzActions]="[otherAction]">
          <ng-template #otherAction>
            <nz-switch nzSize="small" [(ngModel)]="setting[item.key]"></nz-switch>
          </ng-template>
        </nz-list-item>
      </ng-template>
    </nz-list>
  </div>
  <ng-content select="ng-container[extra]"></ng-content>
</nz-drawer>