<page [title]="'Login'" [region]="region" mode="fill">
  <div class="content">
    <div class="top">
      <div class="header">
        <h3 nz-typography>EMS</h3>
      </div>
    </div>
    <div class="main">
      <div class="login">
        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
          <nz-form-item>
            <nz-form-control>
              <nz-input-group nzSize="large" nzPrefixIcon="anticon anticon-user">
                <input type="text" nz-input formControlName="userName" placeholder="Username">
              </nz-input-group>
              <nz-form-explain *ngIf="validateForm.get('userName').dirty && validateForm.get('userName').errors">
                Please enter Username!
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <nz-input-group nzSize="large" nzPrefixIcon="anticon anticon-lock">
                <input type="password" nz-input formControlName="password" placeholder="Password">
              </nz-input-group>
              <nz-form-explain *ngIf="validateForm.get('password').dirty && validateForm.get('password').errors">
                Please enter Password!
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <button nz-button class="login-form-button" nzSize="large" nzType="primary" [nzLoading]="submitting">Login</button>
            </nz-form-control>
          </nz-form-item>
        </form>
      </div>
    </div>
  </div>
</page>
