@import '~ng-zorro-antd/style/themes/default.less';
:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: auto;
    background: @layout-body-background;
}

.content {
    flex: 1 1 auto;
    padding: 32px 0;
    flex: 1;
}

@media (min-width: @screen-md-min) {
    :host {
        background-image: url('/assets/images/background.svg');
        background-repeat: no-repeat;
        background-position: center 110px;
        background-size: 100%;
    }
    .content {
        padding: 162px 0 24px 0;
    }
}

.main {
    width: 368px;
    margin: 0 auto;
    @media screen and (max-width: @screen-sm) {
        width: 95%;
    }
    .icon {
        font-size: 24px;
        color: rgba(0, 0, 0, 0.2);
        margin-left: 16px;
        vertical-align: middle;
        cursor: pointer;
        transition: color 0.3s;
        &:hover {
            color: @primary-color;
        }
    }
    .other {
        text-align: left;
        margin-top: 24px;
        line-height: 22px;
        .register {
            float: right;
        }
    }
}

.login {
    :ng-deep {
        .ant-tabs .ant-tabs-bar {
            border-bottom: 0;
            margin-bottom: 24px;
            text-align: center;
        }
        .ant-form-item {
            margin: 0 2px 24px;
        }
    }
    .icon {
        font-size: 24px;
        color: rgba(0, 0, 0, 0.2);
        margin-left: 16px;
        vertical-align: middle;
        cursor: pointer;
        transition: color 0.3s;
        &:hover {
            color: @primary-color;
        }
    }
    .other {
        text-align: left;
        margin-top: 24px;
        line-height: 22px;
        .register {
            float: right;
        }
    }
    .prefixIcon {
        font-size: @font-size-base;
        color: @disabled-color;
    }
    .submit {
        width: 100%;
        margin-top: 24px;
    }
}

.top {
    text-align: center;
}

.header {
    height: 44px;
    line-height: 44px;
    margin-bottom: 40px;
    a {
        text-decoration: none;
    }
}

h3 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: white;
    color: red; 
    font-size: 28px; 
    width: 6%;
    font-weight: bold;
    margin-bottom: 45px;
    font-family: Verdana;
    border-style: solid;
    border-width: 4px;
  }

  .login-form-button {
    width: 30%;
    margin: auto;
    display: block;
    font-size: 18px;
    height: 45px;
    line-height: 33px;
    padding: 0 15px;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
    border: 2px solid;
    border-radius: 7px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
    background: #d02e17;
    border-color: #942110 #902010 #741a0d;
    background-image: -webkit-linear-gradient(top, #e74a29 0%, #e6451b 50%, #d02e17 50%, #b3150b 100%);
    background-image: -moz-linear-gradient(top, #e74a29 0%, #e6451b 50%, #d02e17 50%, #b3150b 100%);
    background-image: -o-linear-gradient(top, #e74a29 0%, #e6451b 50%, #d02e17 50%, #b3150b 100%);
    background-image: linear-gradient(to bottom, #e74a29 0%, #e6451b 50%, #d02e17 50%, #b3150b 100%);
  }

  .login-form-button2 {
    width: 30%;
    margin: auto;
    display: block;
    font-size: 18px;
    height: 45px;
    line-height: 33px;
    padding: 0 15px;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
    border: 2px solid;
    border-radius: 7px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
    background: #d02e17;
    border-color: #942110 #902010 #741a0d;
    background-image: -webkit-linear-gradient(top, #e74a29 0%, #e6451b 50%, #d02e17 50%, #b3150b 100%);
    background-image: -moz-linear-gradient(top, #e74a29 0%, #e6451b 50%, #d02e17 50%, #b3150b 100%);
    background-image: -o-linear-gradient(top, #e74a29 0%, #e6451b 50%, #d02e17 50%, #b3150b 100%);
    background-image: linear-gradient(to bottom, #e74a29 0%, #e6451b 50%, #d02e17 50%, #b3150b 100%);
  }
  
  .login-form-button:active {
    background: #e63b1b;
    background-image: -webkit-linear-gradient(top, #a9110b 0%, #de3819 60%, #e63b1b 100%);
    background-image: -moz-linear-gradient(top, #a9110b 0%, #de3819 60%, #e63b1b 100%);
    background-image: -o-linear-gradient(top, #a9110b 0%, #de3819 60%, #e63b1b 100%);
    background-image: linear-gradient(to bottom, #a9110b 0%, #de3819 60%, #e63b1b 100%);
  }

.logo {
    height: 44px;
    vertical-align: top;
    margin-right: 16px;
}

.title {
    font-size: 33px;
    color: @heading-color;
    font-family: 'Myriad Pro', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 600;
    position: relative;
    top: 2px;
}
