<layout [(collapsed)]="layout.collapsed" [siderMode]="layout.siderMode" [topMode]="layout.topMode()"
  [setting]="layout.setting">
  <ng-container sider>
    <a [routerLink]="['/page/application/application-list']">
      <div class="logo" [class.light]="layout.setting.theme == 'light'">
        <h1>EMS</h1>
      </div>
    </a>
    <navbar [data]="menu" [inlineCollapsed]="layout.siderMode == 'over' ? false : layout.collapsed"></navbar>
  </ng-container>

  <ng-container header>
    <toolbar>
      <ng-container left *ngIf="!layout.topMode()">
        <i nz-icon class="anticon trigger" [type]="layout.collapsed ? 'menu-unfold' : 'menu-fold'"
          (click)="layout.collapsed=!layout.collapsed"></i>
      </ng-container>
      <ng-container left *ngIf="layout.topMode()">
        <a [routerLink]="['/page/application/application-list']">
          <div class="logo">
            <h1>EMS</h1>
          </div>
        </a>
        <navbar [data]="menu" mode="horizontal"></navbar>
      </ng-container>
      <ng-container right>
        <nz-dropdown nzPlacement="bottomRight" *ngIf="user.current">
          <span nz-dropdown class="action account">
            <nz-avatar nzSize="small" nzIcon="anticon anticon-user"></nz-avatar>
            <span class="name" *ngIf="user.current?.name">{{ user.current?.name }}</span>
          </span>
          <ul nz-menu>
            <li nz-menu-item (click)="logout()">
              <i nz-icon type="logout"></i>Log Out
            </li>
          </ul>
        </nz-dropdown>
        <setting-drawer [(setting)]="layout.setting" [innerClass]="{ action: true, setting: true }">
          <i nz-icon type="setting"></i>
        </setting-drawer>
      </ng-container>
    </toolbar>
  </ng-container>

  <ng-container content>
    <router-outlet></router-outlet>
  </ng-container>

</layout>