<page [title]="'application-list'">
  <nz-card nzTitle="All Applications">
    <div class="main-content">
      <nz-table #table nzBordered [nzData]="listApplications" nzShowPagination [nzLoading]="loading"
        [nzTotal]="total" [nzPageSize]="10" [nzPageIndex]="1" 
        (nzCurrentPageDataChange)="onCurrentPageDataChange($event)">
        <thead>
          <tr>
            <th class="center" nzWidth="10%">No</th>
            <th class="center" nzWidth="70%">Title</th>
            <th class="center" nzWidth="20%">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of listCurrentApplications">
            <td class="center">{{ data.no }}</td>
            <td class="center"><a [routerLink]="['/page/application/application-details']"
                [queryParams]="{id: data.id}">{{ data.title }}</a></td>
            <td class="center">{{ data.status }}</td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </nz-card>
</page>