

<page [title]="'EMS'">
  <div nz-row [nzGutter]="24">
    <div nz-col [nzXl]="16" [nzLg]="24" [nzMd]="24" [nzSm]="24" [nzXs]="24" [style.marginBottom.px]="24">
      <nz-card class="projectList" nzTitle="Card title" [style.marginBottom.px]="24">
        <p>Card content</p>
        <p>Card content</p>
      </nz-card>
    </div>
    <div nz-col [nzXl]="8" [nzLg]="24" [nzMd]="24" [nzSm]="24" [nzXs]="24">
      <nz-card nzTitle="Card title" [style.marginBottom.px]="24">
        <p>Card content</p>
        <p>Card content</p>
      </nz-card>
    </div>
  </div>
</page>
